@import "../Colors";

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(50, 50, 50);
  padding: 5rem;
  @include flex;
  font-size: 0.9rem;

  &__top {
    @include flex;
    align-items: flex-start;
    gap: 10rem;
  }

  &__title {
    color: $blue-color-light;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
  }

  &__links {
    @include flex;
    align-items: flex-start;
    gap: 5rem;
  }

  &__linksTitle {
    color: $blue-color;
    margin-bottom: 1rem;
  }

  &__list {
    @include flex;
    align-items: flex-start;
    flex-direction: column;

    a {
      display: block;
      margin: 0.25rem 0;
      text-decoration: none;
      color: #fff;
      border: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
