@import "../Colors";

.ready {
  background-color: rgb(245, 245, 245);
  padding: 5rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-weight: 700;
    font-size: 2rem;
  }

  &__button {
    background-color: $blue-color-light;
    border: none;
    padding: 1rem 4rem;
    margin-top: 2rem;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      background-color: rgba($blue-color-light, 0.9);
    }
  }
}
